h1 {
	font-family: Geneva, Sans-serif;
	font-size: 24px;
	font-weight: bold;
}

h2 {
	font-family: Times new roman, Serif;
	font-size: 18px;
	font-weight: normal;
}

td {
	font-weight: bold;
	padding-right: 20px;
}

input#home1 {
    background: #ccc url('home1.gif');
    background-repeat: no-repeat;
    padding-left: auto;
    height: 100%;
    width: 100%;
}

input#home2 {
    background: #ccc url('home2.gif');
    background-repeat: no-repeat;
    padding-left: auto;
    height: 100%;
    width: 100%;
}

input#join1 {
    background: #ccc url('join1.gif');
    background-repeat: no-repeat;
    padding-left: auto;
    height: 100%;
    width: 100%;
}

input#join2 {
    background: #ccc url('join2.gif');
    background-repeat: no-repeat;
    padding-left: auto;
    height: 100%;
    width: 100%;
}

input#faq1 {
    background: #ccc url('faq1.gif');
    background-repeat: no-repeat;
    padding-left: auto;
    height: 100%;
    width: 100%;
}

input#faq2 {
    background: #ccc url('faq2.gif');
    background-repeat: no-repeat;
    padding-left: auto;
    height: 100%;
    width: 100%;
}

input#guestbook1 {
    background: #ccc url('guestbook1.gif');
    background-repeat: no-repeat;
    padding-left: auto;
    height: 100%;
    width: 100%;
}

input#guestbook2 {
    background: #ccc url('guestbook2.gif');
    background-repeat: no-repeat;
    padding-left: auto;
    height: 100%;
    width: 100%;
}

#button {
	background-color: black;
	font-family: Courier, Monospace;
	color: white;
}

#showAge {
	background-color: grey;
    border: 0px solid;/*
    height: 20px;
    width: 160px;*/
    color: white;
}

#minHR, #maxHR {
	border: 0px solid;
	color: green;
}